torch
torchvision

absl-py
aiofiles
annotated-types
antlr4-python3-runtime
anyio
astunparse
blinker
Brotli
cachetools
certifi
charset-normalizer
click
contourpy
cycler
einops
exceptiongroup
fastapi
ffmpy
filelock
Flask
flatbuffers
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
gradio
gradio_client
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
imageio
importlib_metadata
importlib_resources
itsdangerous
jax
Jinja2
joblib
kaleido
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mkl-fft
mkl-random
mkl-service
ml-dtypes
mpld3
numpy
oauthlib
omegaconf
opencv-python
opt_einsum
orjson
packaging
pandas
pillow
pip
plotly
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydub
Pygments
pyparsing
PySocks
python-dateutil
python-multipart
pytz
PyYAML
requests
requests-oauthlib
rich
rsa
ruff
safetensors
scikit-learn
scipy
seaborn
semantic-version
setuptools
shellingham
six
sniffio
starlette
tabulate
tenacity
tensorboard
tensorboard_data_server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
timm
tomlkit
tqdm
typer
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uuid
uvicorn
websockets
Werkzeug
wheel
wrapt
yacs
zipp
